@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wdth,wght@50..200,200..900&display=swap');

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  transition: background-color 0.4s ease-in-out;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

.container {
  padding-top: 24px;
  padding-inline: 24px;
  padding-bottom: 84px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .book-icon {
    width: 28px;
  }
}

.header-right {
  margin-left: auto;
  display: flex;
  gap: 20px;
  align-items: center;
}

.dropdown-button {
  display: flex;
  gap: 16px;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  width: 110px;

  span {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #2D2D2D;
    transition: background-color 0.4s ease-in-out;

  }

  img {
    position: absolute;
    top: 8px;
    right: 0;
  }
}

.dropdown-area {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  width: 110px;
  top: 35px;
  right: 55px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 5px 30px 0px #0000001A;

}

.dropdown-button:focus+.dropdown-menu,
.dropdown-menu:active {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 10px 15px;
}

.dropdown-option {
  cursor: pointer;
}

.switch {
  appearance: none;
  background-color: #A729F5;
  height: 20px;
  width: 32px;
  display: inline-flex;
  margin: 0;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 4px;
  transition: all .4s;
  cursor: pointer;
}

.switch:after {
  content: "";
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.switch:checked {
  background-color: #A729F5;
  justify-content: end;
}

.moon-icon {
  cursor: pointer;
}


.inputSearch {
  background-image: url('./img/search-icon.svg');
  background-position: 95% 50%;
  background-repeat: no-repeat;
  margin-top: 20px;
  width: 100%;
  height: 64px;
  border-radius: 16px;
  border-style: none;
  background-color: #F4F4F4;
  padding-block: 15px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #2D2D2D;
  transition: background-color 0.4s ease-in-out, color 0.4s ease;
}

.word-container {
  margin-top: 25px;
  min-height: 100vh;
}

.word-pronounciation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pronounciation-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.word-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 33.57px;
  color: #2D2D2D;
}

.word-pron-text {
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.05px;
  color: #A445ED;
}

.word-meanings-first,
.word-meanings-second,
.word-meanings-third {
  margin-block: 39px;
}

.word-type {
  display: flex;
  gap: 25px;
  align-items: center;

  h1 {
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #2D2D2D;
    font-style: italic;
    margin-block: 35px;
  }

}


.word-type span {
  flex-grow: 1;
  height: 1px;
  background-color: #E9E9E9;
}

.meaning-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  color: #757575;
  margin-bottom: 17px;
}

/* ul {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
}


ul li::marker {
  color: #8F19E8;

}

ul li {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  color: #2D2D2D;

} */

.meaning-items {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 13px;

}

.meaning-item::marker {
  color: #8F19E8;
}

.meaning-item {
  padding-left: 10px;
}

.word-definition {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #2D2D2D;
}

.example-sentence {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #757575;
  margin-top: 13px;
}

.synonym-section {
  margin-top: 24px;
  display: flex;
  padding-top: 15px;
  align-items: baseline;
  gap: 24px;
  margin-bottom: 32px;

  p {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #757575;
  }
}

.synonym-words-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: center;
  gap: 15px;

  li {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0px;
    color: #A445ED;
    cursor: pointer;
  }

}


.end-of-line {
  display: flex;
  height: 1px;
  background-color: #E9E9E9;
  margin-block: 25px;
}

.source-link-section {
  a {
    display: flex;
    gap: 15px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: #2D2D2D;
  }
}

.not-found-container {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.not-found-emoji {
  margin-bottom: 24px;
  margin-inline: auto;
  font-size: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found-title {
  margin-bottom: 14px;
  font-size: 14px;
}

.not-found-message {
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  /* flex ile dikey hizalama */
}

.input-error {
  border: 1px solid #FF5252;
}

.inputSearch.input-error {
  margin-bottom: 8px;
}

.error-message {
  color: #FF5252;
  font-size: 14px;
}

.inputSearch.input-error {
  margin-bottom: 4px;
}


@media(width>=768px) {

  .container {
    padding: 58px 39px 118px;
  }

  header {
    .book-icon {
      width: 32px;
    }
  }

  .dropdown-button {
    width: 140px;

    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
    }
  }

  .dropdown-menu {
    width: 180px;

    .dropdown-option:hover {
      color: #A445ED;
    }
  }

  .inputSearch {
    margin-block: 50px;
    padding-block: 20px;
    font-size: 20px;
  }

  .pronounciation-text {
    gap: 11px;
  }

  .word-text {
    font-size: 64px;
    line-height: 100%;
  }


  .word-pronounciation img {
    width: 75px;
  }

  .meaning-text {
    font-size: 20px;
    font-weight: 400;
    line-height: 25.6px;
    color: #757575;
    margin-bottom: 27px;
  }

  .word-definition {
    font-size: 18px;
  }


  .synonym-section {
    margin-top: 41px;
    gap: 40px;
    margin-bottom: 43px;

    p {
      font-size: 20px;
    }
  }

  .synonym-words-area {
    gap: 25px;

    li {
      font-size: 20px;
    }

  }

  .word-type {
    gap: 32px;

    h1 {
      font-size: 24px;
      margin-block: 40px;
    }
  }

  .footer-part {
    display: flex;
    gap: 25px;
  }

  .not-found-emoji {
    font-size: 36px;
  }

  .not-found-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .not-found-message {
    text-align: center;
    font-size: 18px;
  }
}





@media(width >=1110px) {

  .inner-container {
    max-width: 737px;
    margin-inline: auto;

  }

  .footer-part {

    p,
    a {
      font-size: 14px;

    }

    img {
      width: 12px;
    }
  }

  .not-found-message {
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
  }

  .not-found-emoji {
    font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .error-message {
    color: #FF5252;
    font-size: 20px;
  }


}